@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #219EBC   ;
    --secondary-color: #023047 ;
    --accent1-color: #FFB703;
    --accent2-color: #fb8500;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Poppins", Helvitica;
    --paragraph-font: "Open Sans", cursive;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #023047;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #023047; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #023047  ;
    --nav-link-color: #023047;
    --nav-background-color: #FFB703;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

* {
    max-width: 1000px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 25px;
    margin: 0;
}

.sociallinks {
    text-decoration: none;
    display: flex;
    justify-content: end;
}

div {
    position: relative;
}



.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.happy {
    float:right;
    margin: 0 0 1em 1em;            
}

header { 
    margin: 1rem auto;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 100px auto;

}
#logo{
    width: 100%;
}
nav {
    display: flex;
    padding: 10px;
    justify-content: center;
    color: black;
}
  
.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
  
.logo img {
    height: 35px;
}
  
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 2em;
}



nav a:hover {
    background-color: #555;
}

.navigation {
    list-style: none;
}

#history {
    background-color: #f2f2f2;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}
  
#history h2 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}
  
#history p {
    margin: 0;
    font-size: 18px;
}

#adventures {
    background-color: #f2f2f2;
    padding: 50px;
}
  
#adventures h2 {
    text-align: center;
}
  
.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}
  
figure {
    margin: 0;
}
  
figure img {
    width: 100%;
    height: auto;
}
  
figcaption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
